.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.desc {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.info {
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 600;
}

.cell {
    flex-basis: calc(100% / 3 - 20px);
}